# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always normalize and convert to LF upon checkout.
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files should be treated as binary and not modified.
*.jpg binary
*.png binary
*.gif binary
*.exe binary
*.dll binary